<div class="center" style="background: #F8992C">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="card bg white">

          <div class="row justify-content-center align-items-center">

            <div class="col-4">
              <div class="float-left">
                <h1>
                  <span class="badge rounded-circle align-items-center text-white" 
                    style="background: #72C9C0">form</span>
                </h1>
              </div>            
            </div>

            <div class="col-4">
              <img class="img-responsive" src="/assets/Codeez_logo-13.png">
            </div>

            <div class="col-4"></div>

          </div>

          <div class="row justify-content-center align-items-center">
            <div class="col-12">
              <div class="card" style="background: #FEC41E">

                <h1 class="card-title text-white text-center">nuwe codeez</h1>

                <div class="row justify-content-center align-items-center">
                  <div class="col-12">
                    <ul class="list-group text-center text-white">
                      <li class="list-group-item mb-1" style="background: #17B29D"
                        *ngFor="let codee of codeez">
                        <h5>{{codee.name}} {{codee.surname}}</h5>
                        <b>nommer: </b>{{codee.phone}} <b> epos: </b> {{codee.email}}
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>