<div class="center" style="background: #F8992C">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="card bg white pt-2 pb-2 pl-2 pr-2">

          <div class="row justify-content-center pb-2">

            <div class="col-4">
              <div class="float-left">
                <button class="btn text-white" 
                  style="background: #72C9C0" (click)="navigateForm()"><h3>terug</h3></button>
              </div>            
            </div>

            <div class="col-4">
              <img class="img-responsive" src="/assets/Codeez_logo-13.png">
            </div>

            <div class="col-4"></div>

          </div>

          <div class="row justify-content-center align-items-center">
            <div class="col-12">
              <div class="card pt-2 pl-2 pr-2" style="background: #FEC41E">

                <h1 class="card-title text-white text-center">nuwe codeez</h1>

                <div class="row justify-content-center align-items-center">
                  <div class="col-12">
                    <ul class="list-group text-center text-white">
                      <li class="list-group-item mb-2" style="background: #17B29D"
                        *ngFor="let codee of codeez">
                        <h3>{{codee.naam}} {{codee.van}}</h3>
                        <b>selfoon: </b>{{codee.selfoon}} |
                        <b> epos: </b> {{codee.epos}}  |
                        <b> ouderdom: </b> {{codee.ouderdom}}
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>