<div class="center" style="background: #17B29D">
  <div class="container" style="width: 100vw">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
          <div class="card bg-white justify-content-center pt-2 pb-2 pl-2 pr-2">
              <div class="row justify-content-center pb-2">
                <div class="col-4"></div>
        
                <div class="col-4">
                  <img class="img-responsive" src="/assets/Codeez_logo-13.png">
                </div>
            
                <div class="col-4">
                  <div class="float-right">
                    <button class="button" (click)="navigateList()"><h3>{{codeez.length}}</h3></button>
                  </div>
                </div>
              </div>
                
              <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <div class="card pt-2 pb-2 pr-2 pl-2" style="background: #FEC41E">
                        <h1 class="card-title text-white text-center">stel jy belang?</h1>
              
                        <div class="row justify-content-center align-items-center">
                          <div class="col-6">
                            <div class="form-group">
                              <input [(ngModel)]="newCodee.naam" type="text" class="form-control" 
                                placeholder="naam"/>
                            </div>
                          </div>
                                
                          <div class="col-6">
                            <div class="form-group">
                              <input [(ngModel)]="newCodee.selfoon" type="number" class="form-control" 
                                placeholder="selfoon"/>
                            </div>
                          </div>
                        </div>
                                
                        <div class="row justify-content-center align-items-center">
                          <div class="col-6">
                            <div class="form-group">
                              <input [(ngModel)]="newCodee.van" type="text" class="form-control"  
                                placeholder="van"/>
                            </div>
                          </div>
                                
                          <div class="col-6">
                            <div class="form-group">
                              <input [(ngModel)]="newCodee.epos" type="email" class="form-control" 
                                placeholder="epos"/>
                            </div>
                          </div>
                        </div>
                      
                        <div class="row justify-content-center align-items-center">
                          <div class="col-3"></div>
                          <div class="col-6">
                            <div class="form-group">
                              <input [(ngModel)]="newCodee.ouderdom" type="number" class="form-control" 
                                placeholder="ouderdom"/>
                            </div>
                          </div>
                          <div class="col-3"></div>
                        </div>

                        <div class="row justify-content-center align-items-center">
                          <button class="btn text-white font-weight-bold" type="button" 
                            style="background: #72C9C0" (click)="addNewCodee(newCodee)">stoor</button>
                        </div>
                        
                      </div>
                </div>
              </div> 
            </div>
      </div>
    </div>
  </div>
</div>