<div class="center bg-info">
  <div class="container">
    <div class="card bg-white">

      <div class="row justify-content-center align-items-center mt-3 mb-3">
        <div class="col-4">
          <img src="/assets/Codeez_logo-13.png" style="width: 300px; height: 300px">
        </div>
      </div>

      <div class="row justify-content-center align-items-center mb-3">
        <div class="card bg-warning" style="width: 75%">
          <div class="row justify-content-center align-items-center mt-3 ml-1 mr-1">
            <div class="col-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="name">
              </div>
            </div>
          
            <div class="col-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="number">
              </div>
            </div>
          </div>
          
          <div class="row justify-content-center align-items-center mr-1 ml-1">
            <div class="col-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="surname">
              </div>
            </div>
          
            <div class="col-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="email">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>